<template>
  <div>
    <div class="sbl-comms-topic__content sbl-comms-topic__content--images">
      <template v-if="content.length > 2">
        <div class="row mb-3 no-gutters">
          <div class="col-6 mb-1 pr-2" v-for="(imageUrl, index) in content" v-bind:key="index">
            <img :src="imageUrl" class="img-fluid rounded card-header-media" />
          </div>
        </div>
      </template>
      <template v-else>
        <div class="row mb-3" v-for="(imageUrl, index) in content" v-bind:key="index">
          <div class="col-12">
            <img :src="imageUrl" class="img-fluid rounded card-header-media" />
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Array
    }
  }
};
</script>