<template>
  <div class="sbl-comms-topic__content sbl-comms-topic__content--text">
    <vue-markdown :source="content" ref="sbl-comms-topic__markdown-component" />
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";

export default {
  props: {
    content: {
      type: String,
      required: true
    }
  },

  components: {
    VueMarkdown
  }
};
</script>