<template>
  <div>
    <div class="sbl-comms-topic__content sbl-comms-topic__content--videos">
      <div class="row mt-2 mb-3" v-for="(videoUrl, index) in content" v-bind:key="index">
        <div class="col-12">
          <video controls class="embed-responsive embed-responsive-16by9 rounded">
            <source :src="videoUrl" />
          </video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Array
    }
  }
};
</script>