<template>
  <div class="container pt-3">
    <h3>Newsletter</h3>
    <div class="row">
      <div class="col-7">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <comms-topic v-if="topic" :topic="topic"></comms-topic>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card border-0 shadow-sm">
          <div class="card-body">
            <comms-topic-comments
              v-if="topic"
              :comments="comments"
              :topic-id="topic.id"
              pusher-key="b395d562d138bab9a735"
              :comments-count="topic.comments_count"
              :is-loading-comments="isLoadingComments"
              :schoolable-id="schoolableId"
              @send-comment="sendComment"
              @new-comment="(data) => this.comments.push(data)"
            ></comms-topic-comments>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CommsTopic from "../src/components/Topic";
import CommsTopicComments from "../src/components/TopicComments";

export default {
  components: {
    CommsTopic,
    CommsTopicComments
  },

  data() {
    return {
      schoolableId: "1234",
      isLoadingComments: true,
      topic: {},
      comments: []
    };
  },

  mounted() {
    setTimeout(() => {
      this.isLoadingComments = false;
    }, 4000);
  },

  methods: {
    sendComment({ text, clientIdentifier }) {
      this.comments.push({
        client_identifier: "12345",
        isSending: true,
        success: false,
        author: {
          schoolable_id: "1234"
        },
        body: {
          content: [
            {
              type: "text",
              content: text
            }
          ]
        }
      });
    }
  }
};
</script>

<style>
html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, sans-serif;
}

body {
  background-color: #f9fbfd;
}

#app {
  height: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 1em;
  padding-top: 1em;
  width: 90%;
}
</style>