<template>
  <div class="sbl-comms-topic__calendar">
    <div class="mt-3 text-right">
      <a
        :href="getGoogleCalendarLink()"
        target="_blank"
        class="sbl-comms-text-hyperlink font-semi-bold"
        @click.stop
      >
        <i class="fe fe-calendar mr-2"></i> Add event to calendar
      </a>
    </div>
    <FunctionalCalendar
      :new-current-date="eventStartDate"
      :marked-date-range="topicEvent"
      :sunday-start="true"
      :date-format="'yyyy-mm-dd'"
      :is-date-range="true"
      class="mb-4"
      ref="sbl-comms-topic__functional-calendar"
    />
    <h2 class="sbl-comms-topic__title">{{ topic.title }}</h2>
    <component
      v-for="(content, index) in topic.body.content"
      :key="index"
      :is="getContentTypeComponent(content.type)"
      :content="content.content"
    />
  </div>
</template>

<script>
import { format } from "date-fns";
import topicMixin from "../../mixins";
import TextContentType from "../ContentTypes/TextContentType";
import ImageContentType from "../ContentTypes/ImageContentType";
import VideoContentType from "../ContentTypes/VideoContentType";
import { FunctionalCalendar } from "vue-functional-calendar";

export default {
  props: {
    /**
     * The topic to render.
     *
     * @type {Object}
     */
    topic: {
      type: Object,
      required: true
    }
  },

  mixins: [topicMixin],

  components: {
    TextContentType,
    ImageContentType,
    VideoContentType,
    FunctionalCalendar
  },

  computed: {
    /**
     * Get the start and end dates of the event.
     *
     * @return {Object}
     */
    topicEvent() {
      return {
        start: format(new Date(this.topic.start_date), "yyyy-M-d"),
        end: format(new Date(this.topic.end_date), "yyyy-M-d")
      };
    },

    /**
     * Get the start date of the event.
     *
     * @return {Object}
     */
    eventStartDate() {
      return new Date(this.topic.start_date);
    }
  },

  methods: {
    /**
     * Generate Google calendar link for the event.
     *
     * @type {String}
     */
    getGoogleCalendarLink() {
      const action = "TEMPLATE";

      const text = encodeURIComponent(this.topic.title);

      const details = encodeURIComponent(this.topic.summary || "");

      const location = encodeURIComponent(this.topic.location || "");

      // Date format: YYYYMMDDToHHmmSSZ/YYYYMMDDToHHmmSSZ
      // Example: 20201231T193000Z/20201231T223000Z
      const dates = encodeURIComponent(
        `${format(
          new Date(this.topic.start_date),
          "yyyyMMdd'T'HHmmSS"
        )}/${format(new Date(this.topic.end_date), "yyyyMMdd'T'HHmmSS")}`
      );

      return `https://www.google.com/calendar/event?action=${action}&text=${text}&dates=${dates}&details=${details}&location=${location}`;
    }
  }
};
</script>