<template>
  <div class="sbl-comms-topic__newsletter">
    <h2 class="sbl-comms-topic__title">{{ topic.title }}</h2>
    <component
      v-for="(content, index) in topic.body.content"
      :key="index"
      :is="getContentTypeComponent(content.type)"
      :content="content.content"
    />
  </div>
</template>

<script>
import topicMixin from "../../mixins";
import TextContentType from "../ContentTypes/TextContentType";
import ImageContentType from "../ContentTypes/ImageContentType";
import VideoContentType from "../ContentTypes/VideoContentType";

export default {
  props: {
    /**
     * The topic to render.
     *
     * @type {Object}
     */
    topic: {
      type: Object,
      required: true
    }
  },

  mixins: [topicMixin],

  components: {
    TextContentType,
    ImageContentType,
    VideoContentType
  }
};
</script>