<template>
  <div class="sbl-comms-topic__comments">
    <slot name="header">
      <div class="comments__header">
        <h2 style="font-size: 1.25rem;">
          Comments
          <small v-if="commentsCount" class="badge badge-soft-info">{{ commentsCount }}</small>
        </h2>
      </div>
    </slot>
    <div class="comments__body" :class="{ 'comments__body--no-comment-input': ! canComment }">
      <template v-if="isLoadingComments">
        <slot name="loading">
          <div class="mt-4 mb-4">
            <div class="comment-bubble p-3 bg-white text-center">Loading...</div>
          </div>
        </slot>
      </template>
      <template v-if="comments.length > 0">
        <slot name="comments-container" v-for="(comment, index) in comments">
          <slot name="single-comment" v-bind="comment">
            <topic-single-comment
              v-bind:comment="comment"
              :class="getCommentClass(comment, index)"
              :schoolable-id="schoolableId"
              @retry-last-comment.capture="retrySendingComment"
            />
          </slot>
        </slot>
      </template>
      <template v-if="! comments.length && ! isLoadingComments">
        <slot name="no-comments">
          <div
            class="d-flex justify-content-center align-items-center"
            style="height: calc(100vh - 200px);"
          >
            <h4
              class="text-secondary font-semi-bold text-center"
              v-if="canComment"
            >It's lonely here, say something...</h4>
            <h4
              class="text-secondary font-semi-bold text-center"
              v-else
            >There are no comments at the moment.</h4>
          </div>
        </slot>
      </template>
    </div>
    <template v-if="canComment">
      <slot name="comment-input" :new-comment="newComment">
        <div class="comments__footer">
          <div class="row align-items-center">
            <div class="col">
              <input
                type="text"
                v-model="newComment"
                class="form-control comments__input border-0"
                placeholder="Say something..."
                data-toggle="autosize"
                v-on:keyup.enter="sendComment"
              />
            </div>
            <div class="col-auto">
              <svg
                class="cursor-pointer"
                @click.capture="sendComment"
                style="fill: #000000; cursor: pointer;"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 172 172"
              >
                <g
                  fill="none"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <path d="M0,172v-172h172v172z" fill="none" />
                  <g fill="#5b63fe">
                    <path
                      d="M10.07813,10.16211l20.24024,65.08789h130.93164zM30.31836,86l-20.24024,65.0459l151.17188,-65.0459z"
                    />
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </slot>
    </template>
  </div>
</template>

<script>
import Pusher from "pusher-js";
import TopicSingleComment from "./TopicSingleComment";

export default {
  props: {
    /**
     * The comments to render.
     *
     * @type {Array}
     */
    comments: {
      type: Array,
      required: true
    },

    /**
     * The ID of the topic that has these comments.
     *
     * @type {Array}
     */
    topicId: {
      type: String,
      required: true
    },

    /**
     * The total number of comments.
     *
     * @type {Number}
     */
    commentsCount: {
      type: Number,
      required: false
    },

    /**
     * Indicate loading state for this component.
     *
     * @type {Boolean}
     */
    isLoadingComments: {
      type: Boolean,
      required: true
    },

    /**
     * Indicate whether or not the user can comment.
     *
     * @type {Boolean}
     */
    canComment: {
      type: Boolean,
      default: true
    },

    /**
     * The schoolable user ID of the current user.
     *
     * @type {String}
     */
    schoolableId: {
      type: String,
      required: false
    },

    /**
     * Specifies the maximum distance between the top
     * of the comments container and a position that
     * triggers the scroll listener event.
     *
     * @type {Number}
     */
    maxScrollTop: {
      type: Number,
      default: 200
    },

    /**
     * Number of milliseconds before the scroll event fires.
     *
     * @type {Number}
     */
    scrollDelay: {
      type: Number,
      default: 400
    },

    /**
     * API key for Pusher,
     *
     * @type {String}
     */
    pusherKey: {
      type: String,
      required: true
    },

    /**
     * Sends a new comment.
     *
     * @emits send-comment
     * @type {Function}
     */
    sendComment: {
      type: Function,
      default() {
        this.$emit("send-comment", { text: this.newComment });

        this.lastSentComment = this.newComment;

        this.newComment = "";

        this.scrollCommentsIntoView();
      }
    },

    /**
     * Attempts to resent a new comment if it fails.
     *
     * @emits send-comment
     * @type {Function}
     */
    retrySendingComment: {
      type: Function,
      default(clientIdentifier) {
        this.$emit("send-comment", {
          text: this.lastSentComment,
          clientIdentifier
        });
      }
    },

    /**
     * Scrolls the comments container into view.
     *
     * @type {Function}
     */
    scrollCommentsIntoView: {
      type: Function,
      default() {
        this.$nextTick(() => {
          const commentsElement = document.querySelector(
            this.commentsContainerSelector
          );

          commentsElement.scrollTo(0, commentsElement.scrollHeight);
        });
      }
    }
  },

  components: {
    TopicSingleComment
  },

  data() {
    return {
      newComment: "",
      lastSentComment: "",
      commentsContainerSelector: ".sbl-comms-topic__comments .comments__body",
      scrolledIntoView: false,
      pusher: null,
      commentsPusherChannel: null,
      newCommentEvent: "new-comment"
    };
  },

  mounted() {
    this.addCommentsScrollListener(this.commentsContainerSelector);

    this.pusher = new Pusher(this.pusherKey, {
      cluster: "mt1"
    });

    this.listenForNewComments();
  },

  destroyed() {
    this.removeCommentsScrollListener(this.commentsContainerSelector);

    // Unsubscribe from the topic
    if (this.commentsPusherChannel) {
      this.commentsPusherChannel.unbind(this.newCommentEvent);

      this.commentsPusherChannel.unsubscribe(this.commentsChannel);
    }

    this.commentsPusherChannel = null;
  },

  watch: {
    /**
     * Scroll the comments into view but only if it hasn't
     * already been scrolled into view.
     *
     * @return {[type]} [description]
     */
    isLoadingComments(value) {
      if (!value && !this.scrolledIntoView) {
        this.scrollCommentsIntoView();

        this.scrolledIntoView = true;
      }
    }
  },

  computed: {
    commentsChannel() {
      return this.topicId ? `new-comment-for.${this.topicId}` : null;
    }
  },

  methods: {
    /**
     * Dynamically get the appropriate css class to
     * apply to a single comment.
     *
     * @param {Object} comment
     * @param {Number} index
     * @return {Object}
     */
    getCommentClass(comment, index) {
      return {
        "sbl-comms-topic__single-comment--right":
          this.schoolableId &&
          comment.author.schoolable_id === this.schoolableId,
        "sbl-comms-topic__single-comment--left":
          (this.schoolableId &&
            comment.author.schoolable_id !== this.schoolableId) ||
          !this.schoolableId,
        "sbl-comms-topic__single-comment--hide-user": this.isSameUser(index)
      };
    },

    /**
     * Determine if the previous comment user is the same
     * as the next one.
     *
     * @param {Number} index
     * @return {Object}
     */
    isSameUser(index) {
      if (!this.comments[index - 1]) {
        return false;
      }

      return (
        this.comments[index - 1].author.schoolable_id ===
        this.comments[index].author.schoolable_id
      );
    },

    /**
     * Binds a scroll listener to the comments container.
     *
     * @param {String} selector
     * @return {null}
     */
    addCommentsScrollListener(selector) {
      const element = document.querySelector(selector);

      if (element) {
        element.addEventListener(
          "scroll",
          this.debounce(this.commentsScrollListener, this.scrollDelay)
        );
      }
    },

    /**
     * Removes a scroll listener from the comments container.
     *
     * @param {String} selector
     * @return {null}
     */
    removeCommentsScrollListener(selector) {
      const element = document.querySelector(selector);

      if (element) {
        element.removeEventListener(
          "scroll",
          this.debounce(this.commentsScrollListener, this.scrollDelay)
        );
      }
    },

    /**
     * Listen for "scroll" event on the comments container.
     *
     * @emits scrolled-to-top
     * @return {null}
     */
    commentsScrollListener() {
      const scrollTop = document.querySelector(this.commentsContainerSelector)
        .scrollTop;

      if (!this.isLoadingComments && scrollTop <= this.maxScrollTop) {
        this.$emit("scrolled-to-top");
      }
    },

    /**
     * Listens new comments on pusher
     *
     * @emits new-comment
     * @return {null}
     */
    listenForNewComments() {
      if (!this.commentsPusherChannel) {
        this.commentsPusherChannel = this.pusher.subscribe(
          this.commentsChannel
        );
      }

      if (this.commentsPusherChannel) {
        this.commentsPusherChannel.bind(this.newCommentEvent, data => {
          // To prevent adding a new comment to the view twice, we'll
          // check if this comment has already been added before and do nothing.
          // Otherwise, we'll go ahead and add it to the comments view.
          const index = this.comments.findIndex(
            comment => comment.client_identifier === data.client_identifier
          );

          if (index !== -1) {
            return;
          }

          this.$emit("new-comment", data);
        });
      }
    },

    /**
     * Executes the given callback after the wait time.
     *
     * @param {Function} callback
     * @param {Number} wait
     * @return {null}
     */
    debounce(callback, wait) {
      let timeout;

      return function(...args) {
        const functionCall = () => callback.apply(this, args);

        clearTimeout(timeout);

        timeout = setTimeout(functionCall, wait);
      };
    }
  }
};
</script>