<template>
  <div class="sbl-comms-topic__single-comment">
    <div class="comment-author row align-items-center no-gutters">
      <div class="col-auto mr-2">
        <div class="avatar avatar-xs" v-if="comment.author.avatar">
          <img :src="comment.author.avatar" class="avatar-img rounded-circle" />
        </div>
        <div v-else class="avatar avatar-xs">
          <span
            class="avatar-title rounded-circle font-semi-bold"
            style="color: #2c7be5; background-color: #d5e5fa;"
          >{{ initials(`${comment.author.first_name} ${comment.author.last_name}`) }}</span>
        </div>
      </div>
      <div class="col mt-n2">
        <small class="text-secondary">
          <span class="author-name">{{ `${comment.author.first_name} ${comment.author.last_name}` }}</span>
        </small>
      </div>
    </div>
    <div class="comment-bubble ml-4" :class="{ 'bg-white-50': comment.isSending }">
      <vue-markdown
        class="comment-md"
        :source="comment.body.content.find(content => content.type === 'text').content"
      />
      <small
        class="comment-timestamp"
        v-if="comment.created_at"
      >{{ formatDate(comment.created_at) }}</small>
    </div>
    <div
      class="comment-actions"
      v-if="schoolableId && comment.author.schoolable_id === schoolableId"
    >
      <div class="ml-auto">
        <small class="text-muted mr-2" v-if="comment.isSending">Sending...</small>
        <small
          class="text-danger"
          v-if="comment.hasOwnProperty('success') && ! comment.success && ! comment.isSending"
        >
          <i class="fe fe-alert-circle text-danger"></i>
          <span
            class="text-decoration-underline cursor-pointer"
            @click="$emit('retry-last-comment', comment.client_identifier)"
          >&nbsp;Retry</span>
        </small>
      </div>
    </div>
  </div>
</template>

<script>
import { format } from "date-fns";
import topicMixin from "../mixins";
import VueMarkdown from "vue-markdown";

export default {
  props: {
    comment: {
      type: Object,
      required: true
    },
    schoolableId: {
      type: String,
      required: false
    }
  },

  mixins: [topicMixin],

  components: {
    VueMarkdown
  },

  methods: {
    formatDate(value) {
      return format(new Date(value), "do MMM, yy HH:mm");
    }
  }
};
</script>