<template>
  <div class="sbl-comms-topic">
    <slot v-bind:topic="topic" name="header">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="sbl-comms-topic__avatar avatar avatar-xs" v-if="topic.source.logo_url">
            <img :src="topic.source.logo_url" class="avatar-img rounded-circle" />
          </div>
          <div v-else class="sbl-comms-topic__avatar avatar">
            <span
              class="avatar-title rounded-circle"
              style="color: #2c7be5; background-color: #d5e5fa;"
            >{{ initials(topic.source.name) }}</span>
          </div>
        </div>
        <div class="col ml-n2">
          <h4 class="sbl-comms-topic__source-name mb-0">{{ topic.source.name }}</h4>
          <small
            class="sbl-comms-topic__source-author"
            v-if="topic.author"
          >{{ topic.author.first_name }} {{ topic.author.last_name }}</small>
        </div>
      </div>
    </slot>
    <slot v-bind:body="topic.body.content" name="body">
      <div class="mt-3">
        <div class="sbl-comms-topic__body">
          <component :is="topicTypeComponent" :topic="topic" />
        </div>
      </div>
    </slot>
  </div>
</template>

<script>
import topicMixin from "../mixins";
import CalendarTopicType from "./TopicTypes/CalendarTopicType";
import NewsletterTopicType from "./TopicTypes/NewsletterTopicType";

export default {
  props: {
    /**
     * The topic to render.
     *
     * @type {Object}
     */
    topic: {
      type: Object,
      required: true
    }
  },

  components: {
    CalendarTopicType,
    NewsletterTopicType
  },

  mixins: [topicMixin],

  computed: {
    /**
     * Get the component to render a piece of the topic's
     * content based on the topic type.
     *
     * @return {Object}
     */
    topicTypeComponent() {
      return `${this.capitalize(this.topic.type)}TopicType`;
    }
  }
};
</script>

<style lang="scss">
@import "../scss/comms-topic.scss";
</style>