.sbl-comms-text-hyperlink {
    color: #5B63FE;
}

.sbl-comms-topic {
    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        color: $primary;
    }

    &__source-name {
        font-size: 14px;
        font-weight: 500;
    }

    &__source-author {
        color: $secondary;
    }
}