.topic__calendar .vfc-styles-conditional-class .vfc-main-container {
    -webkit-box-shadow: 0 2px 4px rgba(91, 99, 254, 0.16) !important;
    -moz-box-shadow: 0 2px 4px rgba(91, 99, 254, 0.16) !important;
    box-shadow: 0 2px 4px rgba(91, 99, 254, 0.16) !important;
    font-family: "ProximaNova-Regular" !important;
}

.topic__calendar .vfc-dayNames span {
    color: $secondary !important;
}

.topic__calendar .vfc-span-day {
    color: $primary;

    &.vfc-today {
        color: $primary !important;
        font-family: "ProximaNova-Semibold";
        background: #ffffff !important;
    }

    &.vfc-marked {
        background: #ffffff !important;

        &:before {
            background: rgba(91, 99, 254, 0.2) !important;
        }
    }

    &.vfc-hide.vfc-marked {
        color: $secondary !important;
    }

    &.vfc-end-marked,
    &.vfc-start-marked {
        background: #5b63fe !important;
    }
}

.topic__calendar .vfc-base-start,
.topic__calendar .vfc-base-end {
    display: none;
}

.topic__calendar .vfc-base-start {
    &+.vfc-marked:before {
        width: 60% !important;
        left: 40% !important;
    }
}

.topic__calendar .vfc-base-end {
    &+.vfc-marked:before {
        width: 60% !important;
        right: 40% !important;
    }
}

.topic__calendar .vfc-span-day.vfc-start-marked {
    color: #ffffff !important;
}