.sbl-comms-topic__comments {
    position: relative;
    height: 100%;
}

.sbl-comms-topic__comments .comments__header {
    border-bottom: 1px solid #E3EBF6
}

.sbl-comms-topic__comments .comments__body {
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;

    @media (min-width: 768px) {
        min-height: calc(100vh - 120px);
        padding-bottom: 60px;
    }

    &--no-comment-input {
        padding-bottom: 0;
    }
}

.sbl-comms-topic__comments .comments__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding: 10px;

    @media (min-width: 768px) {
        position: absolute;
    }
}

.sbl-comms-topic__comments .comments__input {
    background-color: lighten(#989bac, 30%);
    padding: 10px;
    border-radius: 4px;
}

.sbl-comms-topic__single-comment {
    width: 85%;
    margin-bottom: 15px;

    &--right {
        margin-left: auto;

        .comment-bubble {
            background-color: #5b63fe;
            color: #ffffff;
            border-bottom-right-radius: 4px;
        }

        .avatar {
            display: none;
        }

        .comment-author,
        .comment-actions {
            display: flex;
            text-align: right;

            .row {
                margin-left: auto;
            }
        }

        .author-name {
            display: none;
        }

        .comment-timestamp {
            color: #ffffff;
        }
    }

    &--left {
        margin-right: auto;

        .comment-bubble {
            background-color: #ffffff;
            border-bottom-left-radius: 4px;
            box-shadow: 0 2px 4px rgba(91, 99, 254, .16);
        }
    }

    &--hide-user {
        .comment-author {
            display: none;
        }
    }
}

.sbl-comms-topic__single-comment .comment-bubble {
    height: auto;
    border-radius: 16px;
    position: relative;
    padding: 0.75rem;
}

.sbl-comms-topic__single-comment .comment-timestamp {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
}

.sbl-comms-topic__single-comment .comment-md img {
    max-width: 100%;
    height: auto;
}