//================
// Colors
//================
$primary: #251F68;
$secondary: #989BAC;
$tertiary: #175BB7;
$dark: #12253F;
$success: #38B566;

$color-secondary: $secondary;
$color-tertiary: $tertiary;